.list {
  list-style-type: none;
  padding: 0;
  height: 642px;
  margin: 0;
  overflow-y: scroll;
}

.list_item {
  margin: 0 0 40px;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  column-gap: 24px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  height: 492px;
  background-clip: content-box;
  background-color: #8585ad;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
