.container {
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 720px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 18px;
  height: 18px;
  background-image: url('../../images/button.svg');
  margin: 3px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer
}