.header {
  background-color: #1C1C21;
  max-width: 1920px;
  width: 100%;
}

.header__container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.image_inactive {
  fill: #8585AD;
}

.block {
  display: flex;
}

.logo {
  margin-right: 178px;
}

.container {
  display: flex;
}