.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  margin: 0 0 20px;
  padding: 0;
}

.item {
  width: 112px;
  text-align: center;
}
